@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

html{
    scroll-behavior: smooth;
    scroll-padding-top: 25px;
}

body{
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.25em;
}

.main{
    display: flex;
    justify-content: center;
    color: #5d5d5d;
}

a{
    text-decoration: none;
    color: #5d5d5d; 
    font-family: 'Noto Sans', sans-serif;
}

ul{
    list-style: none;
}

.one{
    margin-top: 3.1em;
    width: 350px;
    text-align: center;
    margin-right: 100px;
    position: fixed;
    left: 0;
}

.icon{
    margin-bottom: 40px;
    /*width: 273.6px;
    height: 108.6px; размеры лого*/
}

.list-item{
    width: 250px;
    height: 50px;
    margin-bottom: 50px;
    padding-top: 6px;
    padding-bottom: 6px;
}


button{
    border-radius: 20px; 
    background-color: white;
    font-size: 18px;
    border-width: 1.5px;
    border-style: solid;
    border-color: #d1d5d8;
    color: #5d5d5d;
}

.footer{
    border-radius: 20px; 
    font-size: 20px;
    border-width: 1.5px;
    border-style: solid;
    border-color: #d9e0e6;
    margin-top: -20px;
    width: 247px;
    margin-left: 70px;
}

.footer-text{
    margin-bottom: -15px;
    margin-top: 20px;
    color: #5d5d5d;
    text-align: center;
    padding-right: 60px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.95em;
}

.footer-item{
    padding-right: 40px;
    padding-top: 40px;
}


.two{
    margin-left: 200px;
    /*margin-right: 200px;*/
    width: 800px;
    text-align: center;
}

.card-1, .card-2, .card-3{
    margin-top: 15px ;
}

/*.card-1:hover, .card-2:hover, .card-3:hover{
    
}*/

.info{
    display: flex;
}

.title{
    color: #5d5d5d;
    font-size: 25px;
    text-align: center;
    margin-top: 7px;
    margin-bottom: 7px;
}

.img{
    border-radius: 10px; 
    border-width: 1.5px;
    border-style: solid;
    border-color: #d9e0e6;    
    width: 1915px;
    margin-left: 30px;
    padding-top: 206px;
    margin-bottom: 26px;
    margin-top: 26px;
}


p{
    color: #5d5d5d;
    text-align: left;
    padding-left: 60px;
    padding-right: 25px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.95em;
}

.button{
    border: none;
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding-bottom: 15px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.15em;
}

.card-1, .card-2, .card-3{
    border-radius: 20px; 
    border-width: 1.5px;
    border-style: solid;
    border-color: #d9e0e6;
}

/*добавочные параметры*/
hr{
    border: none;
    color: #d9e0e6;
    background-color: #d9e0e6;
    height: 1.5px;
}


